<div id="<%= dom_id crops_label %>">
  <p>
    <strong>Crop:</strong>
    <%= crops_label.crop_id %>
  </p>

  <p>
    <strong>Crop category:</strong>
    <%= crops_label.crop_category_id %>
  </p>

</div>
