

<% content_for :title, "Listings" %>

<h1>Listings</h1>

<div id="listings">
  <% @listings.each do |listing| %>
    <%= render listing %>
  <% end %>
  <%= link_to "Create", new_listing_path, class: "btn btn-outline-dark mx-2" %>
</div>


