<% content_for :title, "Users" %>

<h1 class="text-center my-4">Users</h1>

<div class="container">
  <div class="row justify-content-center">
    <% @users.each do |user| %>
      <div class="col-12 col-md-4 d-flex justify-content-center mb-4">
        <div class="card shadow" style="width: 100%; max-width: 350px;">  <!-- Increased max-width -->
          <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <p class="card-text">
              Email: <%= user.email %><br>
              Role: <%= user.role %>
            </p>
          </div>
          <div class="card-footer text-center">
            <%= link_to "Show this user", user, class: "btn btn-outline-dark" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
