<div id="<%= dom_id crop_category %>">

<div class="card border border-info shadow-0 mb-3" style="max-width: 18rem;">
    <p>
      <strong>Category name:</strong>
      <%= crop_category.category_name %>
    </p>

    <p>
      <strong>Growing condition:</strong>
      <%= crop_category.growing_condition %>
    </p>

</div>

